:root {
  --main-bg-color: #63564c;
  --main-text-color: #131211;
  --paper-color: #eed3bd;
  --choice-color: #c49b63;
  --choice-color-hover: #a88452;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

header {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

section {
  font-family: "Almendra", serif;
  font-size: 1.5rem;
  background-color: var(--paper-color);
  color: var(--main-text-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url(paper.jpg);
}

main {
  margin-bottom: 20px;
}

section hr {
  border: none;
  border-top: 2px solid var(--main-bg-color);
  margin: 20px 0;
}

nav div {
  font-family: "Bona Nova SC", serif;
  font-weight: 600;
  margin-bottom: 10px;
  background-color: var(--choice-color);
  padding: 10px;
  width: 50%;
  border-radius: 4px;
  cursor: pointer;
}

nav div:hover {
  background-color: var(--choice-color-hover);
  cursor: pointer;
  transform: translate(5px, 0);
  transition: transform 0.2s;
}

dialog {
  font-family: "Almendra", serif;
  font-size: 1.6rem;
  border: 2px solid var(--main-text-color);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  width: 30dvw;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url(paper.jpg);
}

dialog p {
  margin: 0;
}

dialog footer {
  text-align: center;
  margin-top: 20px;
}

dialog button {
  font-family: "Bona Nova SC", serif;
  font-weight: 600;
  font-size: 1.5rem;
  background-color: var(--choice-color);
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

/* mobile styles */
@media (max-width: 600px) {
  section {
    font-size: 1.2rem;
    padding: 15px;
  }
  header {
    font-size: 2rem;
  }
  nav div {
    width: 95%;
    font-size: 1rem;
    padding: 8px;
  }
}
